<style>

body {
	font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
	width: 960px;
}

header {
	background-color: #ffffff;
	border-color: #cccccc;
}

h1 {
	background-color: #4aaaa5;
	color: #FFFFFF;
	background-size: 100%;
	padding: 20px;
	width: 250px;
	text-align: center;
	margin-left: 75px;
	display: inline;

}

#nav {
	float: right;
	font-family: Arial;
	margin-right: 100px;
	margin-top: 25px;
	word-spacing: 20px;
}
 
a {
	color: #777777;
}

section {
	background-image: url("../Images/concrete-texture.png");
	display: inline-flex;
	border color: #dddddd;
}

h2 {
	color: #4aaaa5;
	font-size: 28px;
	margin-left: 45px
}

img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 25px;
}


p {
	color: #777777;
	line-height: 40px;
	font-family: Arial;
	margin-left: 45px;
}

#about {
	background-color: #ffffff;
	border-color: #dddddd;
	width: 650px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}


#social {
	color: #4aaaa5;
	background-color: #ffffff;
	text-align: center;
	border-color: #dddddd;
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-right: 150px;
	clear: both;
	display: inline;
}

#logo {
	margin-left: 50px;
	margin-top: 30px;
}

#form {
	background-color: #ffffff;
	border-color: #dddddd;
	color: #777777;
	width: 650px;
	height: 600px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}

#name {
	padding: 10px;
	width: 500px;
	font-family: arial;
}

#email {
	padding: 10px;
	width: 500px;
	font-family: arial;
}

#message {
	padding: 10px;
	width: 500px;
	font-family: arial;
	border-color: #dddddd;
}

#submit {
	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 24px;
	width: 60px;
	margin-left: 15px;
	text-align: center;
	padding: 10px 25px 10px 25px;

}

#portfolio {
	background-color: #ffffff;
	border-color: #dddddd;
	width: 650px;
	height: 825px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}

#hangman {
	margin-left: 30px;

}
 #hangtitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 71px;
    margin-top: 125px;
 }

#rpg {
	margin-left: 350px;
    margin-bottom: 275px;
}

 #rpgtitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 61px;
    margin-top: 125px;
 }

#trivia {
	margin-left: 30px;
}

 #triviatitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
    padding: 10px 55px;
    margin-top: 125px;
 }

#rutgers {
	margin-left: 350px;
}

#rutgertitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 11px;
    margin-top: 125px;
 }

#rock {
	margin-left: 30px;
    margin-top: 525px;
}

 #rocktitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 11px;
    margin-top: 125px;
 }

 a:hover {
    background-color: transparent;
}

 hr {
	border-style: solid;
	color: #dddddd;
	margin-left: 10px;
	margin-right: 10px;
}

footer {
	background-color: #666666;
	color: #777777;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	width: 1217px;
	border-top: solid;
	border-width: 6px;
	border-color: #4aaaa5;
}

</style>

@media screen and (max-width: 980px) {

	body {
	font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
	width: 960px;
}

header {
	background-color: #ffffff;
	border-color: #cccccc;
}

h1 {
	background-color: #4aaaa5;
	color: #FFFFFF;
	background-size: 100%;
	padding: 20px;
	width: 250px;
	text-align: center;
	margin-left: 75px;
	display: inline;

}

#nav {
	float: right;
	font-family: Arial;
	margin-right: auto;
	margin-top: 25px;
	word-spacing: 20px;
}
 
a {
	color: #777777;
}

section {
	background-image: url("../Images/concrete-texture.png");
	display: inline-flex;
	border color: #dddddd;
}

h2 {
	color: #4aaaa5;
	font-size: 28px;
	margin-left: 45px
}

img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 25px;
}


p {
	color: #777777;
	line-height: 40px;
	font-family: Arial;
	margin-left: 45px;
}

#about {
	background-color: #ffffff;
	border-color: #dddddd;
	width: 650px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}


#social {
	color: #4aaaa5;
	background-color: #ffffff;
	text-align: center;
	border-color: #dddddd;
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-right: 150px;
	clear: both;
	display: inline;
}

#logo {
	margin-left: 50px;
	margin-top: 30px;
}

#form {
	background-color: #ffffff;
	border-color: #dddddd;
	color: #777777;
	width: 650px;
	height: 600px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}

#name {
	padding: 10px;
	width: 500px;
	font-family: arial;
}

#email {
	padding: 10px;
	width: 500px;
	font-family: arial;
}

#message {
	padding: 10px;
	width: 500px;
	font-family: arial;
	border-color: #dddddd;
}

#submit {
	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 24px;
	width: 60px;
	margin-left: 15px;
	text-align: center;
	padding: 10px 25px 10px 25px;

}

#portfolio {
	background-color: #ffffff;
	border-color: #dddddd;
	width: 650px;
	height: 825px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}

#hangman {
	margin-left: 30px;

}
 #hangtitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 71px;
    margin-top: 125px;
 }

#rpg {
	margin-left: 350px;
    margin-bottom: 275px;
}

 #rpgtitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 61px;
    margin-top: 125px;
 }

#trivia {
	margin-left: 30px;
}

 #triviatitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
    padding: 10px 55px;
    margin-top: 125px;
 }

#rutgers {
	margin-left: 350px;
}

#rutgertitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 11px;
    margin-top: 125px;
 }

#rock {
	margin-left: 30px;
    margin-top: 525px;
}

 #rocktitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 11px;
    margin-top: 125px;
 }

 hr {
	border-style: solid;
	color: #dddddd;
	margin-left: 10px;
	margin-right: 10px;
}

footer {
	background-color: #666666;
	color: #777777;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	width: 1217px;
	border-top: solid;
	border-width: 6px;
	border-color: #4aaaa5;
}
	
}

@media screen and (max-width: 768px) {

	body {
	font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
	width: 960px;
}

header {
	background-color: #ffffff;
	border-color: #cccccc;
}

h1 {
	background-color: #4aaaa5;
	color: #FFFFFF;
	background-size: 100%;
	padding: 20px;
	width: 250px;
	text-align: center;
	margin-left: 75px;
	display: inline;
	font-family: Georgia;

}

#nav {
	float: right;
	font-family: Arial;
	margin-right: 100px;
	margin-top: 25px;
	word-spacing: 20px;
}
 
a {
	color: #777777;
}

section {
	background-image: url("../Images/concrete-texture.png");
	display: inline-flex;
	border color: #dddddd;
}

h2 {
	color: #4aaaa5;
	font-size: 28px;
	margin-left: 45px;
	font-family: Georgia;
}

img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 25px;
}


p {
	color: #777777;
	line-height: 40px;
	font-family: Arial;
	margin-left: 45px;
}

#about {
	background-color: #ffffff;
	border-color: #dddddd;
	width: 650px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}


#social {
	color: #4aaaa5;
	background-color: #ffffff;
	text-align: center;
	border-color: #dddddd;
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-right: 150px;
	clear: both;
	display: inline;
	font-family: Georgia;
}

#logo {
	margin-left: 50px;
	margin-top: 30px;
}

#form {
	background-color: #ffffff;
	border-color: #dddddd;
	color: #777777;
	width: 650px;
	height: 600px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}

#name {
	padding: 10px;
	width: 500px;
	font-family: arial;
}

#email {
	padding: 10px;
	width: 500px;
	font-family: arial;
}

#message {
	padding: 10px;
	width: 500px;
	font-family: arial;
	border-color: #dddddd;
}

#submit {
	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 24px;
	width: 60px;
	margin-left: 15px;
	text-align: center;
	padding: 15px 30px 15px 15px;

}

#portfolio {
	background-color: #ffffff;
	border-color: #dddddd;
	width: 650px;
	height: 825px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}

#hangman {
	margin-left: 30px;

}
 #hangtitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 64px;
    margin-top: 125px;
 }

#rpg {
	margin-left: 350px;
    margin-bottom: 275px;
}

 #rpgtitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 53px;
    margin-top: 125px;
 }

#trivia {
	margin-left: 30px;
}

 #triviatitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
    padding: 10px 50px;
    margin-top: 125px;
 }

#rutgers {
	margin-left: 350px;
}

#rutgertitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 2px;
    margin-top: 125px;
 }

#rock {
	margin-left: 30px;
    margin-top: 525px;
}

 #rocktitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 24px;
	padding: 10px 13px;
    margin-top: 125px;
 }

 hr {
	border-style: solid;
	color: #dddddd;
	margin-left: 10px;
	margin-right: 10px;
}

footer {
	background-color: #666666;
	color: #777777;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	width: 1217px;
	border-top: solid;
	border-width: 6px;
	border-color: #4aaaa5;
}
	
}

@media screen and (max-width: 640px) {

	body {
	font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
	width: 960px;
}

header {
	background-color: #ffffff;
	border-color: #cccccc;
}

h1 {
	background-color: #4aaaa5;
	color: #FFFFFF;
	background-size: 100%;
	padding: 20px;
	width: 250px;
	text-align: center;
	margin-left: 75px;
	display: inline;

}

#nav {
	float: right;
	font-family: Arial;
	margin-right: 100px;
	margin-top: 25px;
	word-spacing: 20px;
}
 
a {
	color: #777777;
}

section {
	background-image: url("../Images/concrete-texture.png");
	display: inline-flex;
	border color: #dddddd;
}

h2 {
	color: #4aaaa5;
	font-size: 28px;
	margin-left: 45px
}

img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 25px;
}


p {
	color: #777777;
	line-height: 40px;
	font-family: Arial;
	margin-left: 45px;
}

#about {
	background-color: #ffffff;
	border-color: #dddddd;
	width: 650px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}


#social {
	color: #4aaaa5;
	background-color: #ffffff;
	text-align: center;
	border-color: #dddddd;
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-right: 150px;
	clear: both;
	display: inline;
}

#logo {
	margin-left: 50px;
	margin-top: 30px;
}

#form {
	background-color: #ffffff;
	border-color: #dddddd;
	color: #777777;
	width: 650px;
	height: 600px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}

#name {
	padding: 10px;
	width: 500px;
	font-family: arial;
}

#email {
	padding: 10px;
	width: 500px;
	font-family: arial;
}

#message {
	padding: 10px;
	width: 500px;
	font-family: arial;
	border-color: #dddddd;
}

#submit {
	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 24px;
	width: 60px;
	margin-left: 15px;
	text-align: center;
	padding: 15px 30px 15px 15px;

}

#portfolio {
	background-color: #ffffff;
	border-color: #dddddd;
	width: 650px;
	height: 825px;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 40px;
}

#hangman {
	margin-left: 30px;

}
 #hangtitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px 65px;
    margin-top: 125px;
 }

#rpg {
	margin-left: 350px;
    margin-bottom: 275px;
}

 #rpgtitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
	padding: 10px;
    margin-top: 125px;
    text-align: center;
    width: 36%;
 }

#trivia {
	margin-left: 30px;
}

 #triviatitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 28px;
    padding: 10px 55px;
    margin-top: 125px;
 }

#rutgers {
	margin-left: 350px;
}

#rutgertitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 24px;
	padding: 10px 10px;
    margin-top: 125px;
    width: 36%;
 }

#rock {
	margin-left: 30px;
    margin-top: 525px;
}

 #rocktitle {
 	position: absolute;
 	background-color: #4aaaa5;
	color: #FFFFFF;
	font-size: 24px;
	padding: 10px 10px;
    margin-top: 125px;
    width: 36%;
 }

 hr {
	border-style: solid;
	color: #dddddd;
	margin-left: 10px;
	margin-right: 10px;
}

footer {
	background-color: #666666;
	color: #777777;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	width: 1217px;
	border-top: solid;
	border-width: 6px;
	border-color: #4aaaa5;
}
	
}